* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: $black;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s linear;
}
button {
    transition: all 0.3s linear;
    cursor: pointer;
}
